# Data Science Tools and Ecosystem

# In this notebook, Data Science Tools and Ecosystem are summarized.

# **Objectives:**

- List popular languages for Data Science
- List commonly used libraries for Data Science
- List Data Science tools
- Demonstrate arithmetic expressions in Python

# Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL

# Some of the commonly used libraries used by Data Scientists include:

1. NumPy
2. Pandas
3. Matplotlib
4. Scikit-learn
5. TensorFlow

# Data Science Tools

| Data Science Tools     |
|------------------------|
| Jupyter Notebooks       |
| RStudio                |
| TensorFlow             |
| Apache Spark           |
| Apache Hadoop          |

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
(3*4)+5

17

In [5]:
minutes = 200
hours = minutes / 60
print(hours)
# This will convert 200 minutes to hours by diving by 60

3.3333333333333335

## Author Nawaf Taleb